.main {
    padding-top: 100px;
    width: $width-main;
    margin: 0 auto;

    @include df-column;
    gap: 40px;

    .main__title {
        @include title-article;
    }

    .container {
        width: 1028px;
        margin: 0 auto;
        position: relative;
        height: 2880px;
        background-image: url("../images/main-page/down.png");

        &::before {
            @include down-opacity(0%, 50%);
        }
    }
}
