.mobile {
    margin-top: 130px;
    width: 100%;
    position: relative;

    .container {
        @include df-row;
        justify-content: space-between;
        align-items: center;
        width: $width-main;
        margin: 0 auto;

        .container__title {
            @include title-article;
        }

        .container__description {
            max-width: 350px;
            width: 100%;
            font-size: 24px;
            font-weight: 400;
            line-height: 130%;
            @include font(400, 24px, 130%);
        }
    }
    .container__images {
        margin: 40px 0 130px;
        @include df-row;
        justify-content: space-between;

        .container__images__left {
            width: 235px;
            height: 2000px;
            background-image: url("../images/mobile-version/left.png");
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;

            &::before {
                @include down-opacity(0%, 25%);
            }
        }

        .container__images__left-main {
            width: 380px;
            height: 2200px;
            background-image: url("../images/mobile-version/main-left.png");
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;

            &::before {
                @include down-opacity(0%, 20%);
            }
        }

        .container__images__right-main {
            width: 380px;
            height: 2080px;
            background-image: url("../images/mobile-version/main-right.png");
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;

            &::before {
                @include down-opacity(0%, 20%);
            }
        }

        .container__images__right {
            @include df-column;
            gap: 60px;

            .container__images__right-up {
                width: 235px;
                height: 1154.661px;

                background-image: url("../images/mobile-version/right-up.png");
                background-size: cover;
                background-repeat: no-repeat;
                position: relative;
            }

            .container__images__right-down {
                width: 235px;
                height: 689.769px;
                border-radius: 15px 0 0 15px;
                border-top: 3px solid #c6c6c7;
                border-left: 3px solid #c6c6c7;
                border-bottom: 3px solid #c6c6c7;

                background-image: url("../images/mobile-version/right-down-scroll-1.png");
                background-size: cover;
                background-repeat: no-repeat;
                position: relative;

                .container__images__right-down-in {
                    width: 234px;
                    height: 537px;
                    margin: 70px 0 5px 1px;
                    margin-left: 1px;

                    background-image: url("../images/mobile-version/right-down-scroll-2.png");
                    background-size: cover;
                    background-repeat: no-repeat;
                    position: relative;
                }

                .container__images__right-down-bottom {
                    background: $fill-color-2;
                    margin-left: 1px;
                    width: 234px;
                    height: 60px;
                }
            }
        }
    }

    .ellipse {
        @include init-ellipse;
    }

    .main__ellipse-1 {
        @include set-ellipse(283px, 283px);
        right: 0px;
        top: 400px;

    }

    .main__ellipse-2 {
        @include set-ellipse(436px, 436px);
        left: 200px;
        top: 500px;
    }

    .main__ellipse-3 {
        @include set-ellipse(568px, 568px);
        right: 200px;
        top: 900px;
    }
    .main__ellipse-4 {
        @include set-ellipse(456px, 456px);
        left: 105px;
        top: 1300px;
    }

    .main__ellipse-5 {
        @include set-ellipse(436px, 436px);
        left: 350px;
        top: 1750px;
    }

    .main__ellipse-6 {
        @include set-ellipse(283px, 283px);
        right: 30px;
        top: 1850px;
    }
}
