.menu {
    padding-top: 125px;
    @include adaptive-main-container;
    position: relative;
    @include df-column;

    @media screen and (min-width: $mobileS) {
        padding-top: 40px;
    }

    @media screen and (min-width: $tablet) {
        padding-top: 125px;
    }

    .menu__title {
        @include title-article;
    }

    .container {
        width: 100%;

        background-image: url("../images/menu/before.png");
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;

        @media screen and (min-width: $mobileS) {
            margin: 20px auto 60px;
            height: 155px;

            max-width: 290px;
            border-radius: 10px;
            border: 3px solid $fill-color-3;
        }

        @media screen and (min-width: $mobileM) {
            height: 158px;
            max-width: 335px;
        }

        @media screen and (min-width: $tablet) {
            margin: 40px auto 130px;
            max-width: 635px;
            height: 325px;
        }

        @media screen and (min-width: $laptop) {
            max-width: 835px;
            height: 440px;
        }

        @media screen and (min-width: $desktop) {
            max-width: 1028px;
            height: 510px;

            border-radius: 30px;
            border: 6px solid $fill-color-3;
        }

        .container__after {
            background-image: url("../images/menu/after.png");
            background-size: cover;
            position: absolute;

            @media screen and (min-width: $mobileS) {
                border-left: 3px solid $fill-color-3;
                border-right: 3px solid $fill-color-3;
                height: 28px;
                margin-top: 108px;
                width: 290px;
                left: -3px;
            }

            @media screen and (min-width: $mobileM) {
                height: 30px;
                width: 335px;
            }

            @media screen and (min-width: $tablet) {
                height: 60px;
                width: 635px;
                margin-top: 237px;
            }
            @media screen and (min-width: $laptop) {
                height: 60px;
                width: 835px;
                margin-top: 311px;
            }

            @media screen and (min-width: $desktop) {
                margin-top: 383px;
                width: 100%;
                border-left: 6px solid $fill-color-3;
                border-right: 6px solid $fill-color-3;
                height: 70px;
                left: -6px;
            }
        }

        .container__footer {
            background: $fill-color-2;
            position: absolute;

            @media screen and (min-width: $mobileS) {
                border-left: 3px solid $fill-color-3;
                border-right: 3px solid $fill-color-3;
                border-bottom: 3px solid $fill-color-3;
                border-radius: 0 0 10px 10px;

                height: 28px;
                margin-top: 130px;
                width: 290px;
                left: -3px;
            }

            @media screen and (min-width: $mobileM) {
                height: 30px;
                width: 335px;
            }

            @media screen and (min-width: $tablet) {
                height: 30px;
                width: 635px;
                margin-top: 295px;
            }

            @media screen and (min-width: $laptop) {
                height: 60px;
                width: 835px;
                margin-top: 380px;
            }
            @media screen and (min-width: $desktop) {
                border-left: 6px solid $fill-color-3;
                border-right: 6px solid $fill-color-3;
                border-bottom: 6px solid $fill-color-3;
                border-radius: 0 0 30px 30px;
                width: 1028px;
                height: 70px;
                margin-top: 454px;
                left: -6px;
            }
        }
    }

    .ellipse {
        @include init-ellipse;
    }

    .main__ellipse-1 {
        @media screen and (min-width: $mobileS) {
            @include set-ellipse(128px, 128px);
            right: -50px;
            top: 50px;
        }

        @media screen and (min-width: $tablet) {
            @include set-ellipse(419px, 419px);
            right: -70px;
            top: 170px;
        }
    }

    .main__ellipse-2 {
        @media screen and (min-width: $mobileS) {
            @include set-ellipse(82px, 82px);
            left: -30px;
            top: 200px;
        }

        @media screen and (min-width: $tablet) {
            @include set-ellipse(313px, 313px);
            left: -30px;
            top: 350px;
        }
    }
}
