.creation {
    @include df-column;
    @include adaptive-main-container;

    @media screen and (min-width: $mobileS) {
        gap: 25px;
    }
    @media screen and (min-width: $tablet) {
        gap: 60px;
    }

    .creation__title {
        color: $color-title-section;
        @media screen and (min-width: $mobileS) {
            @include font(400, 14px, 115.02%);
        }
        @media screen and (min-width: $tablet) {
            @include font(400, 18px, 115.02%);
        }
        text-transform: uppercase;
    }

    .container-text {
        max-width: 700px;
        width: 100%;
        @include df-column;
        gap: 12px;

        .container-text__item {
            @media screen and (min-width: $mobileS) {
                @include font(400, 18px, 140%);
            }
            @media screen and (min-width: $tablet) {
                @include font(400, 24px, 130%);
            }
        }
    }
}
