.stages {
    width: $width-main;
    margin: 0 auto;
    padding: 140px 0 130px;

    @include df-column;
    gap: 60px;

    .stages__title {
        @include font(400, 18px, 115.02%);
        text-transform: uppercase;
        color: $color-title-section;
    }

    .stage-containers {
        @include df-row;
        gap: 40px;

        .stage-containers__item {
            border-left: 1px solid $color-title-section;
            @include df-column;
            justify-content: space-between;
            padding: 0 15px;
            height: 317px;

            .stage-list {
                @include df-column;
                gap: 12px;

                .stage-list__text {
                    @include font(400, 18px, 130%);
                }
            }

            .stage-container__title {
                color: $color-title-container;
                @include font(700, 24px, 115.02%);
                text-transform: uppercase;
            }
        }
    }
}
