article.main 
    .container-main 
        h2.main__title Main page
        .container
            img.container__image__up(src=require("../../../images/main-page/up.png"), alt="Image up")
    .main__ellipse-1.ellipse
    .main__ellipse-2.ellipse
    .main__ellipse-3.ellipse
