article.order 
    .container-order
        include ./components/result
        section.consultation
            .container
                img.container__image(src=require("../../../images/project-manager.png"), alt="Project Manager")
                img.container__label(src=require("../../../images/label-pm.png"), alt="Label Project Manager")
            include ./components/form





