@import "./components/result.scss";
@import "./components/form.scss";

.order {
    background: linear-gradient(-10deg, #cc4a3d 10%, rgba(204, 74, 61, 0) 80%);

    @media screen and (min-width: $mobileS) {
        padding-bottom: 50px;
    }

    @media screen and (min-width: $tablet) {
        padding-bottom: 97px;
    }

    .container-order {
        @include adaptive-main-container;
        @include df-column;

        @media screen and (min-width: $mobileS) {
            gap: 40px;
        }

        @media screen and (min-width: $tablet) {
            gap: 80px;
        }

        @media screen and (min-width: $desktop) {
            gap: 150px;
        }

        .consultation {
            @include df-row;
            gap: 140px;

            .container {
                width: 440px;
                height: 539px;

                position: relative;

                @media screen and (min-width: $mobileS) {
                    display: none;
                }

                @media screen and (min-width: $desktop) {
                    display: block;
                }

                .container__label {
                    position: absolute;
                    bottom: 80px;
                    right: -60px;
                }
            }
        }
    }
}
