article.colors
        h2.colors__title Colors
        img.colors-image(src=require("../../../images/phone/phone-x.png"), alt="Phone-X")
        ul.list-colors
            li.list-colors__item
                svg(width="130" height="80" viewBox="0 0 130 80" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(id="Rectangle 90" d="M1 1H99.5858L114.293 15.7071L129 30.4142V79H1V1Z" stroke="black" stroke-width="2")
                span.colors-text # F6F6F6
            li.list-colors__item 
                svg(width="130" height="80" viewBox="0 0 130 80" fill="#CC4A3D" xmlns="http://www.w3.org/2000/svg")
                    path(id="Rectangle 90" d="M1 1H99.5858L114.293 15.7071L129 30.4142V79H1V1Z" stroke="black" stroke-width="2")
                span.colors-text # CC4A3D
            li.list-colors__item.list-colors__item__black 
                svg(width="130" height="80" viewBox="0 0 130 80" fill="black" xmlns="http://www.w3.org/2000/svg")
                    path(id="Rectangle 90" d="M1 1H99.5858L114.293 15.7071L129 30.4142V79H1V1Z" stroke="black" stroke-width="2")
                span.colors-text # 000000
            li.list-colors__item 
                svg(width="130" height="80" viewBox="0 0 130 80" fill="#D8D8D8" xmlns="http://www.w3.org/2000/svg")
                    path(id="Rectangle 90" d="M1 1H99.5858L114.293 15.7071L129 30.4142V79H1V1Z" stroke="black" stroke-width="2")
                span.colors-text # D8D8D8
            li.list-colors__item 
                svg(width="130" height="80" viewBox="0 0 130 80" fill="#E8E8E8" xmlns="http://www.w3.org/2000/svg")
                    path(id="Rectangle 90" d="M1 1H99.5858L114.293 15.7071L129 30.4142V79H1V1Z" stroke="black" stroke-width="2")
                span.colors-text # E8E8E8
