section.main-info
    h1.main-info__title Website Development for law company
    .container__image
    .container
        p.container-text__text #[strong STERLING LAWYERS LTD] is a law firm based in the UK. The team advises small, medium businesses and private person on business immigration to the UK.
        .container-text
            h3.container-text__title Task from the client:
            p.container-text__text We needed to create a modern corporate website, which is understandable and user-friendly. We used Wordpress, because the old site was created on this CMS.
        .container-text
            h3.container-text__title Website:
            a.container-text__text https://sterling-law.co.uk