section.stages
    h3.stages__title #Stages_of_work
    .stage-containers
        .stage-containers__item 
            ul.stage-list
                li.stage-list__item
                    p.stage-list__text Competitor analysis
                li.stage-list__item
                    p.stage-list__text Target audience analysis
                li.stage-list__item
                    p.stage-list__text Sitemap development
                li.stage-list__item
                    p.stage-list__text Development of technical specifications. Preparation for SEO promotion
            span.stage-container__title Stage 1
        .stage-containers__item 
            ul.stage-list
                li.stage-list__item
                    p.stage-list__text Selection of references
                li.stage-list__item
                    p.stage-list__text Prototyping
                li.stage-list__item
                    p.stage-list__text Design creation
                li.stage-list__item
                    p.stage-list__text Creating an adaptive version
            span.stage-container__title Stage 2
        .stage-containers__item 
            ul.stage-list
                li.stage-list__item
                    p.stage-list__text HTML /CSS site layout
                li.stage-list__item
                    p.stage-list__text Function programming
                li.stage-list__item
                    p.stage-list__text Installation and configuration of modules
                li.stage-list__item
                    p.stage-list__text Page load optimization
                li.stage-list__item
                    p.stage-list__text Website testing
            span.stage-container__title Stage 3
        .stage-containers__item  
            ul.stage-list
                li.stage-list__item
                    p.stage-list__text Basic content filling
                li.stage-list__item
                    p.stage-list__text Delivery of the project to the client
                li.stage-list__item
                    p.stage-list__text Site publishing
            span.stage-container__title Stage 4


            
            
