section.technologies
    ul.list-icons
        li.list-icons__item
            img(src=require("../../../../images/icons_technology/icon-wordpress.svg"), alt="Icon wordpress")
        li.list-icons__item
            img(src=require("../../../../images/icons_technology/icon-html.svg"), alt="Icon html")
        li.list-icons__item
            img(src=require("../../../../images/icons_technology/icon-css.svg"), alt="Icon css")
    .container-types
        .container-type.first
            h4.container-types__title Frontend
            ul.container-types__list
                li.container-types__list-item 
                    p.container-types__text JAVA SCRIPT
                li.container-types__list-item 
                    p.container-types__text CSS 3
                li.container-types__list-item 
                    p.container-types__text HTML 5
        .container-type
            h4.container-types__title Backend
            ul.container-types__list
                li.container-types__list-item 
                    p.container-types__text WordPress
                li.container-types__list-item 
                    p.container-types__text SQ
                li.container-types__list-item 
                    p.container-types__text PHP
        .container-type
            h4.container-types__title Integrations
            ul.container-types__list
                li.container-types__list-item 
                    p.container-types__text Company internal services

