article.mobile 
    .container 
        h2.container__title Mobile version
        p.container__description Mobile version is convenient and understandable for users.
    .container__images 
        .container__images__left
        .container__images__left-main
        .container__images__right-main
        .container__images__right
            .container__images__right-up
            .container__images__right-down
                .container__images__right-down-in
                .container__images__right-down-bottom
    include ../description/components/creation
