article.internal
    .container-text 
        h2.container-text__title Internal pages
        p.container-text__description All internal pages are created in a single concept.
    .container__images 
        .container__images__left
            .container__images__left-up
            .container__images__left-down
        .container__images__main
        .container__images__right


