.form {
    max-width: 571px;
    width: 100%;

    .form__title {
        color: $color-form;

        @media screen and (min-width: $mobileS) {
            @include font(900, 25px, normal);
        }

        @media screen and (min-width: $tablet) {
            @include font(900, 44px, normal);
        }
    }

    .container-inputs {
        margin-top: 22px;
        @include df-row;
        flex-wrap: wrap;
        justify-content: space-between;

        @media screen and (min-width: $mobileS) {
            row-gap: 30px;
        }

        @media screen and (min-width: $tablet) {
            row-gap: 40px;
        }
        .container__input {
            width: 100%;
            border-bottom: 1px solid $color-form;
            border-left: none;
            border-right: none;
            border-top: none;
            padding-bottom: 5px;
            background: transparent;

            @include font(400, 20px, normal);

            @media screen and (min-width: $tablet) {
                max-width: 260px;
            }
        }
    }

    .container-stack {
        @include df-column;
        gap: 20px;

        @media screen and (min-width: $mobileS) {
            margin: 30px 0;
        }

        @media screen and (min-width: $tablet) {
            margin: 50px 0;
        }

        .container-stack__title {
            color: $color-form;
            font-size: 36px;
            font-weight: 500;

            @media screen and (min-width: $mobileS) {
                @include font(500, 20px, normal);
            }

            @media screen and (min-width: $tablet) {
                @include font(500, 36px, normal);
            }
        }

        .container-checkboxs {
            @include df-row;
            flex-wrap: wrap;
            column-gap: 75px;
            row-gap: 22px;
            justify-content: space-between;

            @media screen and (min-width: $mobileS) {
                column-gap: 20px;
            }

            @media screen and (min-width: $mobileM) {
                column-gap: 40px;
            }

            @media screen and (min-width: $tablet) {
                column-gap: 75px;
            }
            .container-checkbox {
                @include df-row;
                gap: 8px;
                align-items: center;

                @media screen and (min-width: $mobileS) {
                }

                @media screen and (min-width: $tablet) {
                }

                .container-checkbox__input {
                    width: 14px;
                    height: 14px;
                    background: $color-white;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    border: none;
                    outline: none;
                    border-radius: 3px;
                }
                .container-checkbox__label {
                    color: $color-form;

                    @media screen and (min-width: $mobileS) {
                        @include font(300, 14px, normal);
                    }

                    @media screen and (min-width: $tablet) {
                        @include font(300, 22px, normal);
                    }
                }
            }
        }
    }

    .form__send {
        color: $color-white;
        border-bottom: 4px solid $color-white;

        @media screen and (min-width: $mobileS) {
            @include font(900, 20px, normal);
        }

        @media screen and (min-width: $tablet) {
            @include font(900, 36px, normal);
        }
    }

    .container-caption {
        @include df-column;
        gap: 20px;

        @media screen and (min-width: $mobileS) {
            margin-top: 45px;
        }

        @media screen and (min-width: $tablet) {
            margin-top: 100px;
        }

        .container-caption__title {
            color: $color-form;
            @media screen and (min-width: $mobileS) {
                @include font(900, 25px, normal);
            }

            @media screen and (min-width: $tablet) {
                @include font(900, 36px, normal);
            }
        }

        .container-caption__text {
            width: 220px;
            display: block;
            color: $color-white;
            @include font(500, 24px, 132.66%);

            @media screen and (min-width: $mobileS) {
                @include font(500, 20px, 132.66%);
            }

            @media screen and (min-width: $tablet) {
                @include font(500, 24px, 132.66%);
            }
            border-bottom: 2px solid $color-white;
        }
    }
}
