.form {
    max-width: 571px;
    width: 100%;

    .form__title {
        color: $color-form;
        @include font(900, 44px, normal);
    }

    .container-inputs {
        margin-top: 22px;
        @include df-row;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 40px;
        .container__input {
            max-width: 260px;
            width: 100%;
            border-bottom: 1px solid $color-form;
            border-left: none;
            border-right: none;
            border-top: none;
            padding-bottom: 5px;
            background: transparent;

            @include font(400, 20px, normal);
        }
    }

    .container-stack {
        margin: 50px 0;
        @include df-column;
        gap: 20px;

        .container-stack__title {
            color: $color-form;
            font-size: 36px;
            font-weight: 500;
            @include font(500, 36px, normal);
        }

        .container-checkboxs {
            @include df-row;
            flex-wrap: wrap;
            justify-content: space-between;
            column-gap: 75px;
            row-gap: 22px;
            .container-checkbox {
                @include df-row;
                gap: 8px;
                align-items: center;

                .container-checkbox__input {
                    width: 14px;
                    height: 14px;
                    background: $color-white;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    border: none;
                    outline: none;
                    border-radius: 3px;
                }
                .container-checkbox__label {
                    color: $color-form;
                    @include font(300, 22px, normal);
                }
            }
        }
    }

    .form__send {
        color: $color-white;
        font-size: 36px;
        font-weight: 900;
        border-bottom: 4px solid $color-white;
    }

    .container-caption {
        margin-top: 100px;
        @include df-column;
        gap: 20px;

        .container-caption__title {
            color: $color-form;
            @include font(900, 36px, normal);
        }

        .container-caption__text {
            width: 220px;
            display: block;
            color: $color-white;
            @include font(500, 24px, 132.66%);
            border-bottom: 2px solid $color-white;
        }
    }
}
