article.fonts
    img.fonts-image(src=require("../../../images/phone/iphones.png"), alt="iphones")
    .container-info
        h2.fonts__title Cera Pro
        ul.list-fonts 
            li.list-fonts__item-letter
                span.list-fonts__item-letter__very-big Aa 
            li.list-fonts__item-letter
                span.list-fonts__item-letter__big Aa 
            li.list-fonts__item-letter
                span.list-fonts__item-letter__higher-middle Aa 
            li.list-fonts__item-letter
                span.list-fonts__item-letter__middle Aa 
            li.list-fonts__item-letter
                span.list-fonts__item-letter__lower-middle Aa 
            li.list-fonts__item-letter
                span.list-fonts__item-letter__small Aa 
            li.list-fonts__item-letter
                span.list-fonts__item-letter__very-small Aa  