@mixin font-face($name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-weight: $weight;
    font-family: "#{$name}";
    font-style: $style;
    src: url("../fonts/#{$path}.ttf") format("ttf");
    font-display: swap;
  }
}

@mixin df-row {
  display: flex;
  flex-direction: row;
}

@mixin df-rev-row {
  display: flex;
  flex-direction: row-reverse;
}

@mixin df-column {
  display: flex;
  flex-direction: column;
}

@mixin df-rev-column {
  display: flex;
  flex-direction: column-reverse;
}

@mixin title-article {
  font-weight: 700;
  color: $color-title-article;

  @media screen and (min-width: $mobileS) {
    font-size: 40px;
    line-height: 100%;
  }

  @media screen and (min-width: $tablet) {
    line-height: 115.02%;
    font-size: 70px;
  }

  @media screen and (min-width: $laptop) {
    font-size: 90px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 100px;
  }
}

@mixin font($fw, $fs, $lh) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
}

@mixin init-ellipse {
  position: absolute;
  z-index: -1;
  animation-iteration-count: infinite;
  animation-name: animation-scale;
  animation-duration: 1.5s;
}

@mixin open {
  animation-iteration-count: 1;
  animation-name: fade-in;
  animation-duration: 1s;
}

@mixin close {
  animation-iteration-count: 1;
  animation-name: fade-out;
  animation-duration: 1s;
}

@mixin up {
  animation-iteration-count: 1;
  animation-name: up-position;
  animation-duration: 1s;
}


@mixin set-ellipse($w, $h) {
  width: $w;
  height: $h;
  border-radius: $w;
  background: radial-gradient(50% 50% at 50% 50%, $fill-color-2 0%, rgba(204, 74, 61, 0) 100%);
}

@mixin down-opacity($start, $value) {
  content: "";
  z-index: 10;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: linear-gradient(0deg, $color-background $start, rgba(0, 0, 0, 0) $value);
}

@keyframes animation-scale {
  0% {
    scale: 1;
  }
  50% {
    scale: 0.8;
  }
  100% {
    scale: 1;
  }
}

@keyframes up-position  {
  0% {
    top: -50px;
    left: 10px;
  }
  100% {
    top: -20px;
    left: 0px;
  }
}


@keyframes fade-in {
  0% {
    opacity: 0;
    scale: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    scale: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    scale: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    scale: 0;
    transform: translateY(20px);
  }
}

@mixin adaptive-main-container {
  margin: 0 auto;
  @media screen and (min-width: $mobileS) {
    max-width: calc($mobileS - 30px);
  }

  @media screen and (min-width: $mobileM) {
    max-width: calc($mobileM - 40px);
  }

  @media screen and (min-width: $mobileL) {
    max-width: calc($mobileL - 40px);
  }

  @media screen and (min-width: $tablet) {
    max-width: calc($tablet - 80px);
  }

  @media screen and (min-width: $laptop) {
    max-width: calc($laptop - 100px);
  }

  @media screen and (min-width: $desktop) {
    max-width: calc($desktop - 200px);
  }
}
