$width-main: 1200px;

$color-main: #000;
$color-title-container: #c6c6c8;
$color-title-article: rgba(125, 125, 129, 0.4);
$color-background: #f6f6f6;
$color-title-section: #cc4a3d;
$color-white: #fff;
$color-form: #26252a;
$fill-color-1: #f6f6f6;
$fill-color-2: #cc4a3d;
$fill-color-3: #000;
$fill-color-4: #d8d8d8;
$fill-color-5: #e8e8e8;

$mobileS: 320px;
$mobileM: 375px;
$mobileL: 425px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1400px;