section.result(id="idResult")
        .text 
            .text_title #Result of work
            ul.list 
                li.list__item 
                    p.item__text One of the most important conditions for the successful implementation is long-term communication with the client.
                li.list__item 
                    p.item__text We were constantly in touch: we held video conferences, discussed tasks. During the development process, there were changes in the functionality. We were able to respond flexibly and issue the necessary solutions.
                li.list__item 
                    p.item__text The result is a well-designed, end-to-end product that meets user needs. These changes unload the company, simplify and speed up processes.
        .container-images
            img.container-images__image-1(src=require("../../../../images/phone/iphone-2.png"), alt="Image iphone")
            img.container-images__image-2(src=require("../../../../images/phone/iphone-1.png"), alt="Image iphone")